body{ min-height:100vh; margin:0; position:relative; }
header{ min-height:50px; background:lightcyan; }

fieldset {
    background-color: silver;
    border: solid #0213c9;
    border-width: thick;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align:center;
    width:80%;
    margin: 0px auto;
}

.links {
    background-color: black;
    height: auto;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: 50px 0px 50px grey;
}


h1 {
    text-align: center;
    color: #0213c9;

}

.logo{
  width: 150px;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

button{
  border: none;
  outline: none;
  background: none;
}

button:hover{
  background-color: gray;
}

.contact {
    display: block;
    color: black;
    text-align: justify;
    width: 250px;
    padding: 14px 16px;
    text-decoration: none;
}

.fa-circle{
color: #0213c9;
}

.fa-facebook{
  border-radius: 50%
}

/*end of contact section*/


.mySlides{
  display:none;
  border-radius: 20px;
  padding-bottom: 60px;
}

.myimages{
    margin: auto;
    width: 60%;
    padding: 10px;
  }

/*footer starts*/

.email {
  color: #FFE81F;
}

footer{
  background-color: #000000;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.foottext{
  color: white;
  text-align: center;
  font-size: relative;
}
